<section class="about-section" id="about-us">
  <div class="container about-container">
    <div class="about-info">
      <h2 class="title">About Us</h2>
      <p class="about-text text-span">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>

      <p class="about-text">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <a href="#catalog" class="view-catalog-btn">View catalog</a>
    </div>
    <picture>
      <source
        srcset="
          ./img/about-us-img/clock-desktop.png    1x,
          ./img/about-us-img/clock-desktop@2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/about-us-img/clock-tablet.png    1x,
          ./img/about-us-img/clock-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/about-us-img/clock-mobile.png    1x,
          ./img/about-us-img/clock-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
      />

      <img src="./img/about-us-img/clock-mobile.png" alt="clock" />
    </picture>
  </div>
</section>
