<section id="Catalog" class="catalog-section">
    <div class="container">
    <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
    <!-- Catalog section first -->
            <li class="catalog-item">
                <div class="box-img-catalog">
                    <picture>
                        <source
                        srcset="../img/catalog-img/garmin-fenix-7x-pro-desktop.png 1x,
                                ../img/catalog-img/garmin-fenix-7x-pro-desktop@2x.png 2x"
                        media="(min-widht: 1280px)"
                        />
                        <source
                        srcset="../img/catalog-img/garmin-fenix-7x-pro-tablet.png 1x
                                ../img/catalog-img/garmin-fenix-7x-pro-tablet@2x.png 2x"
                        media="(min-widht: 768px)"
                        />
                        <source
                        srcset="../img/catalog-img/garmin-fenix-7x-pro-mobile.png 1x
                                ../img/catalog-img/garmin-fenix-7x-pro-mobile@2x.png 2x"
                        media="(max-width: 767px)"
                        />
                        <img class="catalog-img-list" 
                        src="../img/catalog-img/garmin-fenix-7x-pro-desktop.png" 
                        alt="Garmin Fenix 7X Pro Sapphire Solar"/> 
                    </picture>
                </div>
                <div class="box-text-catalog">
                    <h6 class="catalog-title-list">Garmin Fenix 7X Pro Sapphire Solar</h6>
                    <p class="catalog-text-list">€500</p>
                </div>
            </li>
    <!-- / Catalog section first-->
    <!-- Catalog section second -->
            <li class="catalog-item">
                <div class="box-img-catalog">
                    <picture>
                        <source
                        srcset="../img/catalog-img/garmin-marq-athlete-desktop.png 1x,
                                ../img/catalog-img/garmin-marq-athlete-desktop@2x.png 2x"
                        media="(min-widht: 1280px)"
                        />
                        <source
                        srcset="../img/catalog-img/garmin-marq-athlete-tablet.png 1x
                                ../img/catalog-img/garmin-marq-athlete-tablet@2x.png 2x"
                        media="(min-widht: 768px)"
                        />
                        <source
                        srcset="../img/catalog-img/garmin-marq-athlete-mobile.png 1x
                                ../img/catalog-img/garmin-marq-athlete-mobile@2x.png 2x"
                        media="(max-width: 767px)"
                        />
                        <img class="catalog-img-list" 
                        src="../img/catalog-img/garmin-marq-athlete-desktop.png" 
                        alt="Garmin Marq Athlete">
                    </picture>
                </div>
                <div class="box-text-catalog">
                    <h6 class="catalog-title-list">Garmin Marq Athlete </h6>
                    <p class="catalog-text-list">€450</p>
                </div>
            </li>
    <!-- /Catalog section second -->
    <!-- Catalog section three -->
            <li class="catalog-item">
                <div class="box-img-catalog">
                    <picture>
                        <source
                        srcset="../img/catalog-img/garmin-descent-mk1-desktop.png 1x,
                                ../img/catalog-img/garmin-descent-mk1-desktop@2x.png 2x"
                        media="(min-widht: 1280px)"
                        />
                        <source
                        srcset="../img/catalog-img/garmin-descent-mk1-tablet.png 1x
                                ../img/catalog-img/garmin-descent-mk1-tablet@2x.png 2x"
                        media="(min-widht: 768px)"
                        />
                        <source
                        srcset="../img/catalog-img/garmin-descent-mk1-mobile.png 1x
                                ../img/catalog-img/garmin-descent-mk1-mobile@2x.png 2x"
                        media="(max-width: 767px)"
                        />
                        <img class="catalog-img-list" 
                        src="../img/catalog-img/garmin-descent-mk1-desktop.png" 
                        alt="Garmin Descent MK1">
                    </picture>
                </div>
                <div class="box-text-catalog">
                    <h4 class="catalog-title-list">Garmin Descent MK1 </h4>
                    <p class="catalog-text-list">€680</p>
                </div>
            </li>
    <!-- /Catalog section three -->
    <!-- Catalog section four -->
            <li class="catalog-item">
                <div class="box-img-catalog">
                    <picture>
                        <source
                        srcset="../img/catalog-img/garmin-d2-delta-px-desktop.png 1x,
                                ../img/catalog-img/garmin-d2-delta-px-desktop@2x.png 2x"
                        media="(min-widht: 1280px)"
                        />
                        <source
                        srcset="../img/catalog-img/garmin-d2-delta-px-tablet.png 1x
                                ../img/catalog-img/garmin-d2-delta-px-tablet@2x.png 2x"
                        media="(min-widht: 768px)"
                        />
                        <source
                        srcset="../img/catalog-img/garmin-d2-delta-px-mobile.png 1x
                                ../img/catalog-img/garmin-d2-delta-px-mobile@2x.png 2x"
                        media="(max-width: 767px)"
                        />
                        <img class="catalog-img-list" 
                        src="../img/catalog-img/garmin-d2-delta-px-desktop.png" 
                        alt="Garmin D2 Delta PX">
                    </picture>
                </div>
                <div class="box-text-catalog">
                        <h4 class="catalog-title-list">Garmin D2 Delta PX</h4>
                        <p class="catalog-text-list">€380</p>
                </div>
            </li>
    <!-- /Catalog section four -->
    <!-- Catalog section five -->
            <li class="catalog-item catalog-item-hide">
                <div class="box-img-catalog">
                    <picture>
                        <source
                        srcset="../img/catalog-img/garmin-fenix-6-pro-solar-desktop.png 1x,
                                ../img/catalog-img/garmin-fenix-6-pro-solar-desktop@2x.png 2x"
                        media="(min-widht: 1280px)"
                        />
                        <source
                        srcset="../img/catalog-img/garmin-fenix-6-pro-solar-tablet.png 1x
                                ../img/catalog-img/garmin-fenix-6-pro-solar-tablet@2x.png 2x"
                        media="(min-widht: 768px)"
                        />
                        <img class="catalog-img-list" 
                        src="../img/catalog-img/garmin-fenix-6-pro-solar-desktop.png" 
                        alt="Garmin Fenix 6 Pro Solar">
                    </picture>
                </div>
                <div class="box-text-catalog">
                    <h4 class="catalog-title-list">Garmin Fenix 6 Pro Solar</h4>
                    <p class="catalog-text-list">€400</p>
                </div>
            </li>
    <!-- /Catalog section five  -->
    <!-- Catalog secrion six -->
            <li class="catalog-item catalog-item-hide">
                <div class="box-img-catalog">
                    <picture>
                        <source
                        srcset="../img/catalog-img/tube-watch-s42-desktop.png 1x,
                                ../img/catalog-img/tube-watch-s42-desktop@2x.png 2x"
                        media="(min-widht: 1280px)"
                        />
                        <source
                        srcset="../img/catalog-img/tube-watch-s42-tablet.png 1x
                                ../img/catalog-img/tube-watch-s42-tablet@2x.png 2x"
                        media="(min-widht: 768px)"
                        />
                        <img class="catalog-img-list" 
                        src="../img/catalog-img/tube-watch-s42-desktop.png" 
                        alt="Tube Watch S42 Date Steel With Black Case">
                    </picture>
                </div>
                <div class="box-text-catalog">
                    <h4 class="catalog-title-list">Tube Watch S42 Date Steel With Black Case</h4>
                    <p class="catalog-text-list">€395</p>
                </div>
            </li>
    <!-- /Catalog secrion six -->
        </ul>
        <button class="btn-more-catalog" type="button">Show more</button>
    </div>
    </section>
    