<section class="catalog-section" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="box-img-catalog">
          <picture>
            <source srcset="
                ./img/catalog-img/fenix-7x-desktop.png    1x,
                ./img/catalog-img/fenix-7x-desktop@2x.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./img/catalog-img/fenix-7x-tablet.png    1x,
                ./img/catalog-img/fenix-7x-tablet@2x.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/catalog-img/fenix-7x-mobile.png    1x,
                ./img/catalog-img/fenix-7x-mobile@2x.png 2x
              " media="(max-width: 767px)" />
            <img class="catalog-img-list" src="./img/catalog-img/fenix-7x-desktop.png"
              alt="Garmin Fenix 7X Pro Sapphire Solar" />
          </picture>
        </div>

        <h3 class="catalog-title-list">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-text-list">€500</p>
      </li>
      <li class="catalog-item">
        <div class="box-img-catalog">
          <picture>
            <source srcset="
                ./img/catalog-img/garmin-marq-athlete-desktop.png    1x,
                ./img/catalog-img/garmin-marq-athlete-desktop@2x.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./img/catalog-img/garmin-marq-athlete-tablet.png    1x,
                ./img/catalog-img/garmin-marq-athlete-tablet@2x.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/catalog-img/garmin-marq-athlete-mobile.png    1x,
                ./img/catalog-img/garmin-marq-athlete-mobile@2x.png 2x
              " media="(max-width: 767px)" />
            <img class="catalog-img-list" src="./img/catalog-img/garmin-marq-athlete-desktop.png"
              alt="Garmin Marq Athlete" />
          </picture>
        </div>
        <div class="box-text-catalog">
          <h3 class="catalog-title-list">Garmin Marq Athlete</h3>
          <p class="catalog-text-list">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="box-img-catalog">
          <picture>
            <source srcset="
                ./img/catalog-img/garmin-descent-mk1-desktop.png    1x,
                ./img/catalog-img/garmin-descent-mk1-desktop@2x.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./img/catalog-img/garmin-descent-mk1-tablet.png    1x,
                ./img/catalog-img/garmin-descent-mk1-tablet@2x.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/catalog-img/garmin-descent-mk1-mobile.png    1x,
                ./img/catalog-img/garmin-descent-mk1-mobile@2x.png 2x
              " media="(max-width: 767px)" />
            <img class="catalog-img-list" src="./img/catalog-img/garmin-descent-mk1-desktop.png"
              alt="Garmin Descent MK1" />
          </picture>
        </div>
        <div class="box-text-catalog">
          <h3 class="catalog-title-list">Garmin Descent MK1</h3>
          <p class="catalog-text-list">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="box-img-catalog">
          <picture>
            <source srcset="
                ./img/catalog-img/d2-delta-desktop.png    1x,
                ./img/catalog-img/d2-delta-desktop@2x.png 2x
              " media="(min-widtht: 1280px)" />
            <source srcset="
                ./img/catalog-img/d2-delta-tablet.png    1x,
                ./img/catalog-img/d2-delta-tablet@2x.png 2x
              " media="(min-width: 768px)" />
            <source srcset="
                ./img/catalog-img/d2-delta-mobile.png    1x,
                ./img/catalog-img/d2-delta-mobile@2x.png 2x
              " media="(max-width: 767px)" />
            <img class="catalog-img-list" src="./img/catalog-img/d2-delta-desktop.png" alt="Garmin
            D2 Delta PX" />
          </picture>
        </div>
        <div class="box-text-catalog">
          <h3 class="catalog-title-list">Garmin D2 Delta PX</h3>
          <p class="catalog-text-list">€380</p>
        </div>
      </li>
      <li class="catalog-item catalog-item-hide">
        <div class="box-img-catalog">
          <picture>
            <source srcset="
                ./img/catalog-img/garmin-fenix-6-pro-solar-desktop.png    1x,
                ./img/catalog-img/garmin-fenix-6-pro-solar-desktop@2x.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./img/catalog-img/garmin-fenix-6-pro-solar-tablet.png    1x,
                ./img/catalog-img/garmin-fenix-6-pro-solar-tablet@2x.png 2x
              " media="(min-width: 768px)" />
            <img class="catalog-img-list" src="./img/catalog-img/garmin-fenix-6-pro-solar-desktop.png"
              alt="Garmin Fenix 6 Pro Solar" />
          </picture>
        </div>
        <div class="box-text-catalog">
          <h3 class="catalog-title-list">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text-list">€400</p>
        </div>
      </li>
      <li class="catalog-item catalog-item-hide">
        <div class="box-img-catalog">
          <picture>
            <source srcset="
                ./img/catalog-img/tube-watch-s42-desktop.png    1x,
                ./img/catalog-img/tube-watch-s42-desktop@2x.png 2x
              " media="(min-width: 1280px)" />
            <source srcset="
                ./img/catalog-img/tube-watch-s42-tablet.png    1x,
                ./img/catalog-img/tube-watch-s42-tablet@2x.png 2x
              " media="(min-width: 768px)" />
            <img class="catalog-img-list" src="./img/catalog-img/tube-watch-s42-desktop.png"
              alt="Tube Watch S42 Date Steel With Black Case" />
          </picture>
        </div>
        <div class="box-text-catalog">
          <h3 class="catalog-title-list">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text-list">€395</p>
        </div>
      </li>
    </ul>
    <button class="btn-more-catalog" type="button">Show more</button>
  </div>
</section>