<section class="contact-us" id="contact-us">
  <div class="container">
    <h2 class="contact-us-title">Contact Us</h2>
    <div class="contact-flex-wrapper">
      <div class="contact-us-form-wrapper">
        <p class="contact-us-form-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-us-form">
          <div class="contact-us-input-wrapper">
            <label class="contact-us-label">
              <input
                type="text"
                name="user-name"
                placeholder="Name"
                class="contact-us-input"
                required
              />
            </label>
          </div>
          <div class="contact-us-input-wrapper">
            <label class="contact-us-label">
              <input
                type="email"
                name="user-email"
                placeholder="Email"
                class="contact-us-input"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                required
              />
            </label>
          </div>
          <div class="contact-us-input-wrapper">
            <label class="contact-us-label">
              <input
                type="tel"
                name="user-phone"
                placeholder="+380"
                pattern="^\+\d{12}"
                title="Phone number must start with +380 and consist of 12 digits."
                class="contact-us-input"
                required
              />
            </label>
          </div>
          <div class="contact-us-input-wrapper">
            <label class="contact-us-label">
              <textarea
                class="contact-us-textarea"
                name="user-comment"
                placeholder="Comment"
              ></textarea>
            </label>
          </div>
          <button class="contact-us-form-btn" type="submit">Send</button>
        </form>
      </div>

      <picture class="contact-us-picture">
        <source
          srcset="
            ./img/contact-img/oclock-contact-desktop.png    1x,
            ./img/contact-img/oclock-contact-desktop@2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/contact-img/oclock-contact-tablet.png    1x,
            ./img/contact-img/oclock-contact-tablet@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/contact-img/oclock-contact-mobile.png    1x,
            ./img/contact-img/oclock-contact-mobile@2x.png 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="contact-us-img"
          src="./img/contact-img/oclock-contact-mobile.png"
          alt="watch"
        />
      </picture>
    </div>
  </div>
</section>
