<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-content">
        <div class="container-hero-title-text">
        <h1 class="hero-section-title">Welcome to our <samp class="accent-title">collection</samp> of premium watches</h1>
        <p class="hero-text">
            Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to
            modern ones, we have a watch to suit every taste and occasion.
        </p>
        </div>
            <div class="container-hero-team-scroll">
                <ul class="team-list">
                    <li class="team-img">
                        <picture>    
                            <source srcset="
                                ./img/hero-img/team3.png    1x,
                                ./img/hero-img/team3@2x.png 2x
                                "
                                width="60" height="60" 
                                media="(min-width:1280px)" />
                            <source srcset="
                                ./img/hero-img/team3.png   1x,
                                ./img/hero-img/team3@2x.png 2x
                            " 
                            width="56" height="56"  
                            media="(min-width:768px)" />          
                            <source srcset="
                                ./img/hero-img/team3.png    1x,
                                ./img/hero-img/team3@2x.png 2x
                            " 
                            width="44" height="44" 
                            media="(max-width:767px)" />
                            <img src="./img/hero-img/team3.png " alt="hero photo team member 1" class="hero-team-img" />
                        </picture>
                    </li>
                    <li class="team-img">
                        <picture>    
                            <source srcset="
                                ./img/hero-img/team2.png    1x,
                                ./img/hero-img/team2@2x.png 2x
                                "
                                width="60" height="60" 
                                media="(min-width:1280px)" />
                            <source srcset="
                                ./img/hero-img/team2.png   1x,
                                ./img/hero-img/team2@2x.png 2x
                            " 
                            width="56" height="56"  
                            media="(min-width:768px)" />          
                            <source srcset="
                                ./img/hero-img/team2.png    1x,
                                ./img/hero-img/team2@2x.png 2x
                            " 
                            width="44" height="44" 
                            media="(max-width:767px)" />
                            <img src="./img/hero-img/team2.png " alt="hero photo team member 2" class="hero-team-img" />
                        </picture>
                    </li>
                    <li class="team-img">
                        <picture>    
                            <source srcset="
                                ./img/hero-img/team1.png    1x,
                                ./img/hero-img/team1@2x.png 2x
                                "
                                width="60" height="60" 
                                media="(min-width:1280px)" />
                            <source srcset="
                                ./img/hero-img/team1.png   1x,
                                ./img/hero-img/team1@2x.png 2x
                            " 
                            width="56" height="56"  
                            media="(min-width:768px)" />          
                            <source srcset="
                                ./img/hero-img/team1.png    1x,
                                ./img/hero-img/team1@2x.png 2x
                            " 
                            width="44" height="44" 
                            media="(max-width:767px)" />
                            <img src="./img/hero-img/team1.png " alt="hero photo team member3" class="hero-team-img" />
                        </picture>
                    </li>
                </ul>
                <a href="#footer" class="header-scroll-link">Scroll down</a>
            </div>
        </div>
        <div class="hero-box-picture">
            <picture>    
                <source srcset="
                            ./img/hero-img/hero-desktop.png    1x,
                            ./img/hero-img/hero-desktop@2x.png 2x
                        " media="(min-width:1280px)" />
                <source srcset="
                            ./img/hero-img/hero-tablet.png    1x,
                            ./img/hero-img/hero-tablet@2x.png 2x
                        " media="(min-width:768px)" />          
                <source srcset="
                            ./img/hero-img/hero-mobile.png    1x,
                            ./img/hero-img/hero-mobile@2x.png 2x
                        " media="(max-width:767px)" />
                <img src="./img/hero-img/hero-mobile.png" alt="hero picture" class="hero-img" />
            </picture>
        </div>
    </div>
</section>