<div class="modal">
  <button class="modal-button" type="button">
    <svg class="modal-button-svg" width="20" height="20">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="modal-nav">
    <ul class="modal-nav-list">
      <li class="modal-nav-item">
        <a href="./index.html" class="modal-nav-link nav-link-active">Home</a>
      </li>
      <li class="modal-nav-item">
        <a href="#about-us" class="modal-nav-link">About Us</a>
      </li>
      <li class="modal-nav-item">
        Catalog<a href="#catalog" class="modal-nav-link"></a>
      </li>
      <li class="modal-nav-item">
        <a href="#sale" class="modal-nav-link">Sale</a>
      </li>
      <li class="modal-nav-item">
        <a href="#reviews" class="modal-nav-link">Reviews</a>
      </li>
      <li class="modal-nav-item">
        <a href="#contact-us" class="modal-nav-link">Contact Us</a>
      </li>
    </ul>
  </nav>
  <ul class="modal-icons-list">
    <li class="modal-icons-item">
      <a href="https://www.facebook.com/goITclub/" class="modal-icons-link">
        <svg class="modal-icons-svg" width="18" height="18">
          <use href="./img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="modal-icons-item">
      <a href="https://www.instagram.com/goitclub/" class="modal-icons-link">
        <svg class="modal-icons-svg" width="18" height="18">
          <use href="./img/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="modal-icons-item">
      <a href="https://www.youtube.com/c/GoIT" class="modal-icons-link">
        <svg class="modal-icons-svg" width="18" height="18">
          <use href="./img/icons.svg#icon-youtuber"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>