<section class="reviews-web" id="reviews">
    <div class="container reviews">
        <h2 class="reviews-item">
            Reviews
        </h2>
        <div class="reviews-list-people">
            <ul class="reviews-list-instruction">
                <li class="reviews-item-list first-reviews">
                    <!-- <img class="image-reviews" src="./img/reviews-img/Ellipse1.jpg" width="56" height="56"
                        alt="pictures person"> -->

                    <img class="reviews-item-img first-reviews" srcset="
                        ./img/reviews-img/Ellipse1.png    1x,
                        ./img/reviews-img/Ellipse1@2x.png 2x
                        " src="./img/reviews-img/Ellipse1.png" alt="John Wax photo" width="56" height="56" />

                    <h3 class="reviews-item-one">
                        John Wax
                    </h3>
                    <p class="reviews-item-text">
                        Buying a watch from was the best choice for me. The design is perfectly combined with high
                        quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.
                    </p>

                </li>
                <li class="reviews-item-list second-reviews">
                    <!-- <img class="image-reviews" src="./img/reviews-img/Ellipse2.jpg" width="56" height="56"
                        alt="pictures person"> -->

                    <img class="reviews-item-img first-reviews" srcset="
                        ./img/reviews-img/Ellipse2.png    1x,
                        ./img/reviews-img/Ellipse2@2x.png 2x
                        " src="./img/reviews-img/Ellipse2.png" alt="Victoria Romashenko photo" width="56"
                        height="56" />


                    <h3 class="reviews-item-one">
                        Victoria Romashenko
                    </h3>
                    <p class="reviews-item-text">
                        Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me.
                        The build quality and attention to detail make it a real gem among my accessories.
                    </p>

                </li>
                <li class="reviews-item-list third-reviews">
                    <!-- <img class="image-reviews" src="./img/reviews-img/Ellipse3.jpg" width="56" height="56"
                        alt="pictures person"> -->

                    <img class="reviews-item-img first-reviews" srcset="
                        ./img/reviews-img/Ellipse3.png    1x,
                        ./img/reviews-img/Ellipse3@2x.png 2x
                        " src="./img/reviews-img/Ellipse3.png" alt="Anastasia Trachuk photo" width="56" height="56" />


                    <h3 class="reviews-item-one">
                        Anastasia Trachuk
                    </h3>
                    <p class="reviews-item-text">
                        My watch from is a real masterpiece. Every detail impresses with the high quality of execution.
                        Special features like [specify features] make it an indispensable companion in my daily life.
                    </p>


                </li>
            </ul>
        </div>
    </div>
</section>