<section class="sale-section" id="sale">
  <div class="container sale-container">
    <h2 class="sale-section-title">Sale</h2>
    <div class="sale-blok-wrapper">
      <div class="imgs-blok-wrapper">
        <ul class="sale-product-album-list">
          <li class="sale-album-item">
            <picture>
              <source
                srcset="
                  ./img/sale-img-png/w-1-tabl.png    1x,
                  ./img/sale-img-png/w-1-tabl@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/sale-img-png/w-1-mob.png    1x,
                  ./img/sale-img-png/w-1-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <img
                src="./img/sale-img-png/w-1-tabl.png"
                alt="watch-front-picture"
                class="sale-album-img"
              />
            </picture>
          </li>
          <li class="sale-album-item">
            <picture>
              <source
                srcset="
                  ./img/sale-img-png/w-2-tabl.png    1x,
                  ./img/sale-img-png/w-2-tabl@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/sale-img-png/w-2-mob.png    1x,
                  ./img/sale-img-png/w-2-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <img
                src="./img/sale-img-png/w-2-tabl.png"
                alt="watch-front-picture"
                class="sale-album-img"
              />
            </picture>
          </li>
          <li class="sale-album-item">
            <picture>
              <source
                srcset="
                  ./img/sale-img-png/w-3-tabl.png    1x,
                  ./img/sale-img-png/w-3-tabl@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/sale-img-png/w-3-mob.png    1x,
                  ./img/sale-img-png/w-3-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <img
                src="./img/sale-img-png/w-3-tabl.png "
                alt="watch-side-picture"
                class="sale-album-img"
              />
            </picture>
          </li>
          <li class="sale-album-item">
            <picture>
              <source
                srcset="
                  ./img/sale-img-png/w-4-tabl.png    1x,
                  ./img/sale-img-png/w-4-tabl@2x.png 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/sale-img-png/w-4-mob.png    1x,
                  ./img/sale-img-png/w-4-mob@2x.png 2x
                "
                media="(max-width:767px)"
              />
              <img
                src="./img/sale-img-png/w-4-tabl.png"
                alt="watch-back-side-picture"
                class="sale-album-img"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-main-img-wrapper">
          <picture>
            <source
              srcset="
                ./img/sale-img-png/main-w-tabl.png    1x,
                ./img/sale-img-png/main-w-tabl@2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/sale-img-png/main-w-mob.png    1x,
                ./img/sale-img-png/main-w-mob@2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="sale-main-img"
              src="./img/sale-img-png/main-w-tabl.png"
              alt="watch-picture"
            />
          </picture>
        </div>
      </div>

      <div class="sale-description-wrapper">
        <div class="sale-description-header">
          <h3 class="sale-description-title">
            MARQ<span>&#174;</span> Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="product-teg">Product tag: 706587</p>
        </div>

        <ul class="price-list">
          <li class="sale-price-item">€1500</li>
          <li class="old-price-item">€3000</li>
        </ul>

        <div class="sale-price-wrapper"></div>
        <div class="sale-content-wrapper">
          <p class="product-description">
            The Garmin MARQ Commander Gen 2 Carbon Edition is a modern
            smartwatch for adventurers that takes materials and features to the
            next level. The body of the watch is made of very durable Fused
            Carbon Fiber material and has a precise AMOLED touch screen. The
            sensitive touch screen is complemented by buttons that can be used
            in any conditions.
          </p>
          <ul class="product-features-list">
            <li class="product-features-item">
              <a href="#">Fused carbon fiber</a>
            </li>
            <li class="product-features-item">
              <a href="#">Grade-5 Titanuim</a>
            </li>
            <li class="product-features-item">
              <a href="#">Athlete</a>
            </li>
            <li class="product-features-item">
              <a href="#">Golfer</a>
            </li>
            <li class="product-features-item">
              <a href="#">Commander</a>
            </li>
            <li class="product-features-item">
              <a href="#">Adventurer</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
