<section class="sale-section">
  <div class="container sale-container">
    <h2 class="sale-section-title">Sale</h2>
    <div class="sale-imgs-wrapper">
      <ul class="sale-product-album-list">
        <li class="sale-album-item">
          <picture>
            <source
              srcset="
                ./img/sale-img/oclock-view-1-tablet-desktop.jpg    1x,
                ./img/sale-img/oclock-view-1-tablet-desktop@2x.jpg 2x
              "
              media="(min-width:375px)"
            />
            <source
              srcset="
                ./img/sale-img/oclock-view-1-mobile.jpg    1x,
                ./img/sale-img/oclock-view-1-mobile@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="./img/sale-img/oclock-view-1-tablet-desktop.jpg"
              alt="watch-front-picture"
              class="sale-album-img"
            />
          </picture>
        </li>
        <li class="sale-album-item">
          <picture>
            <source
              srcset="
                ./img/sale-img/oclock-view-2-tablet-desktop.jpg    1x,
                ./img/sale-img/oclock-view-2-tablet-desktop@2x.jpg 2x
              "
              media="(min-width:375px)"
            />
            <source
              srcset="
                ./img/sale-img/oclock-view-2-mobile.jpg    1x,
                ./img/sale-img/oclock-view-2-mobile@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="./img/sale-img/oclock-view-2-tablet-desktop.jpg"
              alt="watch-front-picture"
              class="sale-album-img"
            />
          </picture>
        </li>
        <li class="sale-album-item">
          <picture>
            <source
              srcset="
                ./img/sale-img/oclock-view-3-tablet-desktop.jpg    1x,
                ./img/sale-img/oclock-view-3-tablet-desktop@2x.jpg 2x
              "
              media="(min-width:375px)"
            />
            <source
              srcset="
                ./img/sale-img/oclock-view-3-mobile.jpg    1x,
                ./img/sale-img/oclock-view-3-mobile@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="./img/sale-img/oclock-view-3-tablet-desktop.jpg"
              alt="watch-side-picture"
              class="sale-album-img"
            />
          </picture>
        </li>
        <li class="sale-album-item">
          <picture>
            <source
              srcset="
                ./img/sale-img/oclock-view-4-tablet-desktop.jpg    1x,
                ./img/sale-img/oclock-view-4-tablet-desktop@2x.jpg 2x
              "
              media="(min-width:375px)"
            />
            <source
              srcset="
                ./img/sale-img/oclock-view-4-mobile.jpg    1x,
                ./img/sale-img/oclock-view-4-mobile@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              src="./img//sale-img/oclock-view-4-tablet-desktop.jpg"
              alt="watch-back-side-picture"
              class="sale-album-img"
            />
          </picture>
        </li>
      </ul>
      <div class="sale-main-img-wrapper">
        <picture>
          <source
            srcset="
              ./img/sale-img/oclock-tablet-desktop.jpg    1x,
              ./img/sale-img/oclock-tablet-desktop@2x.jpg 2x
            "
            media="(min-width:375px)"
          />
          <source
            srcset="
              ./img/sale-img/oclock-mobile.jpg    1x,
              ./img/sale-img/oclock-mobile@2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="sale-main-img"
            src="./img/sale-img/oclock-tablet-desktop.jpg"
            alt="watch-picture"
          />
        </picture>
      </div>
    </div>

    <div class="sale-description-wrapper">
      <div class="sale-description-header">
        <h3 class="sale-description-title">
          MARQ<span>&#174;</span> Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="product-teg">Product tag: 706587</p>
      </div>

      <div class="price-wrapper">
        <ul class="price-list">
          <li class="sale-price-item">€1500</li>
          <li class="old-price-item">€3000</li>
        </ul>
      </div>

      <div class="sale-price-wrapper"></div>
      <div class="sale-content-wrapper">
        <p class="product-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="product-features-list">
          <li class="product-features-item">Fused carbon fiber</li>
          <li class="product-features-item">Grade-5 Titanuim</li>
          <li class="product-features-item">Athlete</li>
          <li class="product-features-item">Golfer</li>
          <li class="product-features-item">Commander</li>
          <li class="product-features-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
