
.about-section {
    display: flex;
    padding-bottom: 60px;
    margin: 0 auto;
    /* background-color: #0c0c0c78 */
}

.about-info {
    border-radius: 30px;
    width: 295px;
    background-color: #f3f3f3;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 28px;
}

.about-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.text-span {
    margin-bottom: 20px;
}

.view-catalog-btn {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
    background-color: #3350e9;
    border-radius: 16px;
    padding: 15px 38px;
    border: none;
    margin-top: 40px;
}


@media only screen and (min-width: 768px) {
    .about-section {
        padding-bottom: 80px;
    }
    
    .about-info {
        border-radius: 50px;
        width: 585px;
        padding: 80px 60px;
        margin-bottom: 40px;
    }

    .title {
        font-size: 48px;
        margin-bottom: 40px;
    }

    .about-text {
        font-size: 16px;
        width: 574px;
    }

    .view-catalog-btn {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 1280px) {
    .about-container {
        padding-bottom: 100px;
        display: flex;
        gap: 40px;
    }
    
    .container {
        display: flex;
        gap: 40px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .about-info {
        width: 500px;
        border-radius: 50px;
        padding: 80px 60px;
    }

    .about-text {
        width: 480px;
    }

    .view-catalog-btn {
        margin-top: 40px;
    }
}