/* #region Footer */

.footer-section {
    padding-bottom: 20px;
}

.footer-container {
    border-radius: 30px;
    max-width: 335px;
    background: #0c0c0c;
    padding: 40px 28px 28px 28px;
}

.footer-logo-and-contacts-list-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 20px;
}

.footer-logo {
    font-weight: 500;
    letter-spacing: -0.02em;
    color: #fbfbfb;
}

.footer-contacts-list {
    display: flex;
    column-gap: 10px;
}

.footer-contact-item {
    width: 34px;
    height: 34px;
}

.footer-contact-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    fill: #fbfbfb;
    opacity: 0.8;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
    opacity: 1;
}

.footer-tel-number {
    display: inline-block;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 16px;
    width: 152px;
    padding: 14px 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 40px;
}

.footer-tel-number:hover,
.footer-tel-number:focus {
    background-color: #fbfbfb;
    color: #0c0c0c;
}

.footer-slogan {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    margin-bottom: 92px;
}

.footer-nav-and-address-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer-nav {
    width: 147px;
}

.footer-nav-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 8px;
}

.footer-nav-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    text-align: center;
    color: #fbfbfb;
}

.footer-our-contacts {
    width: 84px;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 1.33333;
    color: #fbfbfb;
}

.footer-copyright-etc-wrapper {
    padding-top: 24px;
    border-top: 1px solid rgba(251, 251, 251, 0.1);
}

.footer-copyright {
    margin-bottom: 8px;
}

.footer-rules-list {
    display: flex;
    column-gap: 20px;
}

.footer-copyright,
.footer-rules-link {
    font-weight: 500;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: rgba(251, 251, 251, 0.5);
}

/* #endregion Footer */