.modal {
    position: fixed;
    width: 200px;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    display: flex;
    color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 40px;
    background-image: url(/img/modal-window-nav-menu/bg-modal-window-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: center;
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .modal {
        background-image: url(/img/modal-window-nav-menu/bg-modal-window-img@2x.jpg);
    }
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

}

.modal-button {
    /* position: relative; */
    background-color: transparent;
    border: none;
    /* top: 20px; */
    /* right: 20px; */
    stroke: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 34px;
    height: 34px;
    margin-left: auto;
    margin-right: 20px;
}

.modal-nav {
    width: 100%;
}

.modal-nav-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-nav-item {
    position: relative;
}

.nav-link-active::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #3350e9;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
}

.modal-icons-link {
    fill: #fbfbfb;
}

.modal-icons-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-icons-item {
    width: 34px;
    height: 34px;
}

.modal-icons-link {
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fbfbfb;
}

@media only screen and (min-width: 768px) {
    .modal {
        width: 330px;
        padding-top: 26px;
        padding-bottom: 50px;
        background-image: url(/img/modal-window-nav-menu/bg-modal-window-tablet-img.jpg);
    }

    .modal-button {
        width: 40px;
        height: 40px;
        top: 26px;
        right: 32px;
        margin-right: 32px;
    }

    .modal-button-svg {
        width: 24px;
        height: 24px;
    }

    .modal-nav-list {
        gap: 34px;
    }

    .modal-icons-item {
        width: 36px;
        height: 36px;
    }

    .modal-icons-svg {
        width: 20px;
        height: 20px;
    }

}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .modal {
        background-image: url(/img/modal-window-nav-menu/bg-modal-window-tablet-img@2x.jpg);
    }
}

@media only screen and (min-width: 1280px) {
    .modal {
        display: none;
    }
}